.alert-danger {
    color: #721c24;
    background-color: #ffffff;
    border-color: #ff0000;
}
.container-auth {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    background: #0250c5;
    background: -webkit-linear-gradient(bottom, #ffffff, #3fd4a4);
    background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
    background: linear-gradient(bottom, #0250c5, #d43f8d);
    position: relative;
    z-index: 1;
}

.container-auth::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("{{ asset('images/ui/img-01.png')}}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.error-form {
    margin-bottom: 1rem;
    border-radius: .25rem;
    font-size: 14px;
    text-align: center;
    color: red;
}

.btn-face, .btn-google {
    font-size: 16px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 10px) / 2);
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

@media (max-width: 480px) {
    .container-auth {
        align-items: baseline;
        padding-top: 0px;
    }

    .btn-face, .btn-google {
        font-size: 14px;
    }
}
